
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random number</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
</head>
<body>

{% verbatim %}
    {{ rnd }}
{% endverbatim %}

<script src="/static/rnd_num.js"></script>
    {% block content %}
        <h3>Random number is:</h3>
        <h1>{{ number }}</h1>
        <p1>Updates every 5 sec</p1>
        <div class="row">
            <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                <button class="btn btn-danger  mb-2">
                    <a href="{% url "logout" %}">Logout</a>
                </button>
            </div>
        </div>
    {% endblock %}
</body>
</html>